@page
@model mondadoro_db.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli del Prodotto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome del Prodotto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class="col-sm-2">
            Categoria
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Category)
        </dd>
        <dt class="col-sm-2"> 
            Prezzo di Listino
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ListPrice)
        </dd>
        <dt class="col-sm-2">
            Prezzo di Vendita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.SellingPrice)
        </dd>
        <dt class="col-sm-2">
            Quantita'
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Quantity)
        </dd>
        <dt class="col-sm-2">
            Codice Prodotto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ProductCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.ID">Modifica</a> |
    <a asp-page="./Index">Torna Indietro</a>
</div>
