@page
@model mondadoro_db.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";

    
}

<h1 class="fw-400">Magazzino</h1>

<p>
    <a asp-page="Create">Crea Nuovo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome Prodotto
            </th>
            <th>
                Categoria
            </th>
            <th>
                Prezzo di Listino
            </th>
            <th>
                Prezzo di Vendita
            </th>
            <th>
                Quantita'
            </th>
            <th>
                Codice Prodotto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Modifica</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Dettagli</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Rimuovi</a> |
                <a asp-page="./Sell" asp-route-id="@item.ID" class="btn btn-primary btn-lg">Vendi</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
